[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=ssn
WorkingDirectory=/home/ssn/sites/SITENAME/source
ExecStart=/home/ssn/sites/SITENAME/virtualenv/bin/gunicorn--bind unix:/tmp/SITENAME.socket notes.wsgi:application

[Install]
WantedBy=multi-user.target